
body {
    font-family: Arial, sans-serif;
    background: #0c0b0b;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container {
    display: flex;
    gap: 20px;
}

/* Preguntas */
.questions {
    width: 220px;
    background: #4ca8e6;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.question {
    background: #e9e9e9;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    cursor: pointer;
}

.question:hover {
    background: #dcdcdc;
}

/* Chat */
#chat-container {
    width: 400px;
    background: #0c0909;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

#chat {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.message { margin: 5px 0; }
.user { color: blue; }
.bot { color: green; }

.input-area {
    display: flex;
    gap: 5px;
}

input {
    flex: 1;
    padding: 6px;
}

button {
    padding: 8px;
    cursor: pointer;
}

/* Calculadora */
.calculator {
    width: 240px;
    background: #0adbf7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.808);
}

.calc-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
}

.calc-grid button {
    padding: 12px;
    font-size: 16px;
}

.clear {
    grid-column: span 4;
    background: #ffdddd;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #9e1010;
    color: #020202;



.menu ul {
    flex-direction: column;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    
    color: rgb(247, 240, 240);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

}

.menu ul li a:hover {
    color: #0e84f1;
}
}
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {

  padding: 40px 20px;
  background: linear-gradient(120deg, #000000, #4b99a3);
  color: black;
  text-align: center;
  
}
