body{
  background:#020617;
  font-family:Arial;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

#app{
  width:420px;
  background:#0b1120;
  border-radius:15px;
  padding:15px;
}

input{
  width:100%;
  padding:12px;
  border:none;
  border-radius:8px;
  margin-bottom:10px;
}

button{
  width:100%;
  padding:12px;
  background:#3b82f6;
  border:none;
  border-radius:8px;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

#imgBox{
  margin-top:15px;
  width:100%;
  aspect-ratio:1/1;
  background:#020617;
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
}

#imgResult{
  width:100%;
  height:100%;
  object-fit:contain;
  display:none;
}

#downloadBtn{
  display:none;
  margin-top:10px;
  background:#22c55e;
}
