body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #f1f1f1;
    color: #222;



.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #00b7ff;
}
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #080808e5;
  text-align: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://i.imgur.com/6mJYpNd.jpeg");
    background-size: cover;
    background-position: center;
    text-align: center;
}

.title {
    color: #f0f2f3;
    margin-top: 18px;
}

.info {
    background: rgba(255,255,255,0.85);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.game-area {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* TABLERO SERPIENTE */
.board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    gap: 6px;
    background: #0dbff5;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
}

.cell {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d6ecff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: whit;
}

.cell:nth-child(odd) { background: #048a94; }
.cell:nth-child(even) { background: #121312; }

/* FICHA */
.player-token {
    width: 22px;
    height: 22px;
    background: #fcff33;
    border-radius: 50%;
    box-shadow: 0 0 10px #ff3366
}

/* CONTROLES */
.controls button {
    padding: 10px 15px;
    font-size: 18px;
    background: #f15010;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.controls button:hover {
    background: #004c99;
}

/* MODAL */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden { display: none; }

.modal-content {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 90%;
    max-width: 450px;
}

#options button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #0077cc;
    color: white;
    cursor: pointer;
}

#options button:hover {
    background: #005fa3;
}

#feedback {
    font-weight: bold;
    margin-top: 10px;
}
