body{
background:#020b16;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Arial;
color:#00ffd5;
}

.card{
background:#000;
padding:40px;
border-radius:15px;
border:2px solid #00ffd5;
box-shadow:0 0 30px #00ffd5;
width:350px;
}

.inputBox{
position:relative;
margin-bottom:20px;
}

.inputBox input{
width:100%;
padding:12px;
background:transparent;
border:1px solid #00ffd5;
border-radius:8px;
color:#00ffd5;
}

.inputBox span{
position:absolute;
left:12px;
top:50%;
transform:translateY(-50%);
pointer-events:none;
transition:0.3s;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span{
top:-8px;
font-size:12px;
background:#000;
}

button{
width:100%;
padding:12px;
border:none;
background:#00ffd5;
color:#000;
border-radius:8px;
cursor:pointer;
}
/* ================= */