* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: #242727;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
  
    transform: translateY(-12px) scale(1.04);
    box-shadow: 0 25px 50px rgba(0,229,255,0.6);
    background: rgba(0,229,255,0.15);


    display: flex;
    width: 95%;
    max-width: 700px;
    border-radius: 10px;
 position: right;
 
 
}



/* -------- DERECHA -------- */
.right-section {
    width: 45%;
    padding: 10px 20px;
}

.right-section h2 {
    font-size: 26px;
    color: #f0f2f7;
}

.right-section p {
    margin: 10px 0 20px;
    color: #444444;
}

.tabs {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}

.tabs span {
    cursor: pointer;
    font-weight: bold;
    color: #777;
}

.tabs .active {
    color: #1f71ff;
    border-bottom: 2px solid #1f71ff;
    padding-bottom: 3px;
}

/* Formulario */
.form-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-box input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
}

.check {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #444;
}

.check a {
    color: #1f71ff;
    text-decoration: none;
}

.btn {
    background: #8e9b93;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
}

.btn:hover {
    background: #09ce72;
}
